body {
  font-family: Arial;
  color: white;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: black;
}

.right {
  right: 0;
  background-color: red;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

input[type='text'] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  border-radius: 20px;
}

input[type='number'] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  border-radius: 20px;
}

/* input[type='text']:focus {
  background-color: green;
} */

.nameInput {
  padding: 100px;
}

.ageInput {
  padding: 10px;
}

ul {
  list-style: none;
  padding: 1 rem;
}

.submitButtonRight {
  border-radius: 10rem;
  background-color: black;
  color: white;
}

.submitButtonLeft {
  border-radius: 10rem;
  background-color: black;
  color: white;
}

.rightHeader {
  color: black;
}

.leftHeader {
  color: red;
}

/* .formBox {
  border-style: dashed;
  padding: 10px;
  margin: auto;
} */
